@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", Helvetica, sans-serif;
}

::selection {
  background: rgb(142, 73, 232);
  color: #ffff;
}

::-moz-selection {
  background: rgb(142, 73, 232);
  color: #ffff;
}

body {
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  padding: 10px;
  background-image: linear-gradient(to bottom, #68eacc 0%, #497be8 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  background: #fff;
  max-width: 400px;
  width: 100%;
  margin: 120px auto;
  padding: 25px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
  box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
}

.wrapper header {
  font-size: 30px;
  font-weight: 600;
}

.wrapper .input-field {
  margin: 20px 0;
  width: 100%;
  display: flex;
  height: 45px;
}

.input-field input[type="text"] {
  width: 85%;
  height: 100%;
  outline: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 17px;
  padding-left: 15px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.input-field input[type="text"]:focus {
  border-color: #8e49e8;
}

.input-field button {
  width: 50px;
  height: 100%;
  border: none;
  color: #fff;
  margin-left: 5px;
  font-size: 21px;
  outline: none;
  background: #8e49e8;
  cursor: pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  opacity: .6;
  pointer-events: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.input-field button:hover,
.footer button:hover {
  background: #721ce3;
}

.input-field button.active {
  opacity: 1;
  pointer-events: auto;
}

.wrapper ul.todo-list {
  max-height: 250px;
  overflow-y: auto;
}

ul.todo-list li {
  position: relative;
  list-style: none;
  height: 45px;
  line-height: 45px;
  margin-bottom: 8px;
  background: #f2f2f2;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0 15px;
  cursor: default;
  overflow: hidden;
}

ul.todo-list li .icon {
  position: absolute;
  background: #e74c3c;
  width: 45px;
  text-align: center;
  color: #fff;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

ul.todo-list li .icon {
  right: -45px;
}

ul.todo-list li .icon.active,
ul.todo-list li:hover .icon {
  right: 0;
}

.wrapper .footer {
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.footer button {
  padding: 6px 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
  background: #8e49e8;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: .6;
  pointer-events: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.footer button.active {
  opacity: 1;
  pointer-events: auto;
}
